*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
nav {
    background-color: black;
    height:13vh;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.image1{
    height: 60px;
    width:60px;
    border-radius: 100%;
    margin-top:8px;
    margin-left: 30px;
    cursor: pointer;
}
.desktop-nav{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    gap:50px;
    padding-top:30px;
    margin-right:30px;
}
.desktop-nav li a{
    text-decoration: none;
    border:1px solid white;
    padding: 10px 10px;
    color:white;
}
.desktop-nav li a:hover{
    border-bottom: 3px solid white;
    transition: .8s;
}
#toggle{
    margin-right:20px;
    width:50px;
    margin-top:20px;
    margin-bottom: 20px;
    display:none;
    cursor: pointer;
}
.mobile-nav{
    background-color: black;
    width:100%;
    text-align: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    gap:30px;
    transition:ease-in-out .9s;
    overflow: hidden;
    height:0;
}
.mobile-nav li a{
    list-style-type: none;
    text-decoration: none;
    color:white;
}
.mobile-nav li a:hover{
    border-bottom: 3px solid white;
    transition: .8s;
}
.project{
    display:flex;
    flex-direction: row;
}
h2{
    font-size: 25px;
    text-align: center;
    margin:15px;
    padding:15px;
}
.gallery{
    padding:10px;
    margin:10px;
    border: 1px solid #ccc;
}
.image3{
    height: auto;
    width:100%;
}
#proj{
    font-size: 15px;
}
#proj2{
    display:none;
    font-size: 15px;
}
.program{
    display:flex;
    flex-direction: row;
    gap:10px;
    margin:10px;
    padding:10px;
}
.desc{
    text-align: justify;
}
.head{
    font-size: 20px;
    font-weight: bold;
}
.follow{
    color:white;
    font-size: 20px;
  }
  .foot{
    background-color: black;
    height: 40vh;
    width:100%;
  }

  .footer{
    background-color: black;
    height: 20vh;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
li a{
    text-decoration: none;
    color:white;
    gap: 20px;
}
li a:hover{
    color:red;
}
.handle{
    margin-top:10px;
    display: flex;
    flex-direction: row;
    gap:25px;
}
.fa{
    color:white;
}

.footer1, .footer2{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.btn{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    margin:10px;
    padding:10px;
}
.toggler{
    background-color: black;
    color:white;
    cursor: pointer;
    margin:7px;
    padding:7px;
}
.toggle{
    background-color: black;
    color:white;
    cursor: pointer;
    margin:7px;
    padding:7px;
}
.foot-desktop{
    background-color: black;
    height: 40vh;
    width:100%;
  }
  .foot-mobile{
    background-color: black;
    height: 50vh;
    width:100%;
    display:none;
  }
@media screen and (max-width:600px){
    nav {
        background-color: black;
        height:10vh;
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .desktop-nav{
        display:none;
    }  
    #toggle{
        display:block;
        margin-right:20px;
        width:50px;
        margin-top:10px;
        margin-bottom: 10px;
        cursor: pointer;
    } 
    .image1{
        height: 50px;
        width:50px;
        border-radius: 100%;
        margin-top:5px;
        margin-left: 30px;
        cursor: pointer;
    }
    .mobile-nav{
        background-color: black;
        transition:ease-in-out .9s;
        width:100%;
        text-align: center;
        justify-content: center;
        display:flex;
        flex-direction: column;
        gap:40px;
        }
        .mobile-nav li a{
            list-style-type: none;
            text-decoration: none;
            border:1px solid white;
            padding: 10px 10px;
            color:white;
        }
        .mobile-nav li a:hover{
            border-bottom-color: white;
            color:red;
        }
        .show{
            height:70vh;
            gap:40px;
        }
    .project{
        display:flex;
        flex-direction: column;
    }
    .program{
        display:flex;
        flex-direction: column;
        margin:10px;
        padding:10px;
        gap:10px;
    }
    .gal{
        display:flex;
        flex-direction: row;
        border:1px solid black;
    }
    h2{
        font-size: 20px;
        text-align: justify;
        margin:15px;
        padding:15px;
    }
    .foot-desktop{
        background-color: black;
        height: 40vh;
        width:100%;
        display:none;
      }
      .foot-mobile{
        background-color: black;
        height: 55vh;
        width:100%;
        display:block;
      }
      .footer3-mobile{
        padding:0 30% 2% 35%;
      }
}